<?php

return [
    'monolog' => [
        'channels' => ['foo', 'bar'],
        'handlers' => [
            'main' => [
                'type' => 'stream',
                'path' => 'data/log/application.log',
                'level' => 'debug',
                'channels' => null,             // Include all the channels
                'channels' => ['foo'],          // Include only channel "foo"
                'channels' => ['!foo'],         // Include all channels, except "foo"
                'channels' => ['foo', 'bar'],   // Include only channels "foo" and "bar
                'channels' => ['!foo', '!bar'], // Include all channels, except "foo" and "bar"
            ],
        ],
    ],
];
